:root {
    --canvas-margin: 32px;
}

#canvas-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: var(--canvas-margin);
}

#canvas {
    position: relative;
    background-color: white;

    width: min(calc((100vh - var(--nav-height) - (var(--canvas-margin) * 2)) * var(--aspect-ratio)), 100%);
    height: min(calc(((100vw - var(--side-panel-width)) - (var(--canvas-margin) * 2)) / var(--aspect-ratio)), 100%);
}

@media screen and (max-width: 1000px) {
    :root {
        --canvas-margin: 16px;
    }
}