:root {
    --canvas-margin: 32px;
}

#canvas-container {
    --canvas-scale: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: var(--canvas-margin);

    &.drag-create {
        cursor: crosshair;
    }

    &.text-outline #shape-create {
        border: 2px solid rgba(3, 169, 244, 0.7);
    }
}

#canvas-grid {
    z-index: 5;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    >div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
    }

    #grid-columns>div {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    #grid-rows>div {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}

#canvas {
    position: absolute;
    background-color: white;
    overflow: hidden;
    transform-origin: center;

    >#canvas-elements {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

#canvas-render {
    position: fixed;
    top: 110vh;
    left: 0;
    background-color: #ffffff;
}

@media screen and (max-width: 1000px) {
    :root {
        --canvas-margin: 16px;
    }
}