#shape-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-height: 100%;
  overflow-y: auto;
}

.shape-button {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

/* Shape Groups */

#shape-groups {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  top: -1px;
  margin-right: 24px;
  margin-left: 4px;
}

.shape-group-button {
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px;
  text-align: center;

  &.selected {
    background-color: white;
    position: relative;
    z-index: 3;
  }

  >svg {
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}