#shape-list {
  max-height: 100%;
  overflow-y: auto;
  padding: 4px 0;
}

.shape-list-heading {
  background-color: #dddddd;
  padding: 0 4px;
  margin-bottom: 2px;
}

.shape-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 0 4px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

/* Shape Groups */

#shape-groups {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  top: -1px;
  margin: 0 24px 16px 4px;
}

.shape-group-button {
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px;
  text-align: center;

  &.selected {
    background-color: #fbfbfb;
    position: relative;
    z-index: 3;
  }

  >svg {
    height: 100%;
    aspect-ratio: 1 / 1;
  }
}

/* Shapes */

#shape-create,
.canvas-shape {
  position: absolute;

  &:has(.icon) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-square {
    width: 100%;
    height: 100%;
  }

  .icon-tall {
    width: calc(100% * var(--aspect-ratio));
    height: 100%;
  }

  >.icon-wide {
    width: 100%;
    height: calc(100% / var(--aspect-ratio));
  }
}

.canvas-shape {
  top: calc(var(--top) * var(--scale));
  left: calc(var(--left) * var(--scale));
  width: calc(var(--width) * var(--scale));
  height: calc(var(--height) * var(--scale));
}

.shape.round-rectangle {
  border-radius: 32px;
}

.shape.circle {
  border-radius: 50%;
}

.shape {
  width: 100%;
  height: 100%;
}

/* Shape Buttons */

.shape-button {
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.selected {
    background-color: #D5D5FC;
  }

  .icon-tall {
    height: 100%;
  }

  .icon-wide {
    width: 100%;
  }

  .shape.rectangle {
    height: 70%;
  }

  .shape.round-rectangle {
    height: 70%;
    border-radius: 7px;
  }

  .shape.circle {
    height: 100%;
  }
}