:root {
    --nav-height: 32px;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: 32px calc(100vh - var(--nav-height));
    grid-template-columns: 25vw 1fr;
    background-color: #DFDFDF;
}

button.plain,
button.plain:hover,
button.plain:focus,
button.plain:active {
    border: none;
    background: none;
    padding: 0;
}

label {
    color: inherit;
}

a[role="button"] {
    color: inherit;
    cursor: pointer;
}

.max-height-square {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clickable:not([disabled]):not(.selected) {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

/* Inputs */

input[type="text"]:not(.browser-default) {
    height: 36px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.add-item-input {
    display: flex;
    align-items: top;
    gap: 4px;
}

/* Navigation Bar */

#nav-bar {
    grid-column-start: 1;
    grid-column-end: 3;
    height: var(--nav-height);
    line-height: var(--nav-height);
    z-index: 1;
}

/* Side Panel */

#side-panel {
    height: 100%;
    padding-top: 8px;
    border-right: 1px solid rgba(0,0,0,0.5);
}

#page-select {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 12px;
}

#selected-page {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #DFDFDF;
    border-radius: 8px;
    padding-left: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4px;
    pointer-events: none;
    position: relative;
}

#selected-page:has(#page-list-dropdown) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#selected-page:not(:has(i.invisible)) {
    cursor: pointer;
    pointer-events: all;
}

#page-list-dropdown {
    position: absolute;
    top: 100%;
    border: 1px solid #888888;
    left: 0;
    width: 100%;
    max-height: 320px;
    overflow-y: auto;
    background-color: white;
    z-index: 10;
}

.page-dropdown-item {
    font-size: 1.1rem;
    padding: 4px 8px;
}

.page-dropdown-item:hover {
    background-color: #eeeeee;
}

.page-dropdown-item:not(:last-child) {
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
}

.side-panel-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 4px;
}

.label-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-with-button a {
    margin-right: 4px;
}

.side-panel-section {
    background-color: white;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 8px;
}

.side-panel-section.sm {
    height: 96px;
    --section-height: 96px;
}

.side-panel-section.md {
    height: 128px;
    --section-height: 128px;
}

.side-panel-section.lg {
    height: 160px;
    --section-height: 160px;
}

.section-content-container {
    height: 100%;
}

#section-screen {
    position: relative;
    overflow-x: auto;
}

#section-screen>.section-content-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;
}

.screen-size-select-button {
    height: 100%;
    aspect-ratio: 3 / 4;
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.screen-size-select-button.selected {
    cursor: default;
    pointer-events: none;
    background-color: #D5D5FC;
}

.screen-blueprint-container {
    width: 100%;
    height: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-blueprint {
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.screen-blueprint.wide {
    width: 100%;
}

.screen-blueprint.long {
    height: 100%;
}

.screen-button-text {
    text-align: center;
    line-height: 1;
}

#add-screen-size {
    height: 100%;
    aspect-ratio: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #707070;
}

#section-layers {
    position: relative;
}

#layer-list {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(var(--section-height) - 2px);
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.layer-list-item {
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    &.selected {
        background-color: #D5D5FC;
    }

    & .base-layer {
        font-weight: bold;
    }

    &:not(:last-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.layer-invisible * {
    color: rgba(0, 0, 0, 0.6);
}

/* Shapes */

#shape-palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    padding: 0 4px;
}

.shape-button {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0,0,0,0.1);
}