#window-container {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}

#window-container.active {
  display: flex;
}

#window {
  min-width: 300px;
  min-height: 500px;
  background-color: #FDFDFD;
  border-radius: 4px;
  overflow: hidden;
}

#window-top {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: end;
}

#window-top>.close {
  font-size: 2em;
  cursor: pointer;
}