#window-container {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#window-container.active {
  pointer-events: all;
}

#window-container.active>#window {
  opacity: 1;
  scale: 1;
}

#window {
  scale: 0.9;
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 32px);
  background-color: #FDFDFD;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  transition: scale 0.3s ease-out,
              opacity 0.3s ease-out;
}

#window-top {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#window-top>span {
  margin-left: 8px;
}

#window-top>.close {
  font-size: 2em;
  margin-bottom: 4px;
  cursor: pointer;
}

#window-body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 8px;
}

#window-body legend {
  font-weight: bold;
}

#window-body>.window-divided {
  display: grid;
  gap: 8px;
}

#window-body>.window-divided.half {
  grid-template-columns: 1fr 1fr;
}

/* Add Screen Sizes */

.screen-size-radio-text {
  display: inline-block;
  width: 100%;
}

.screen-size-radio-text>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#default-screen-sizes {
  margin-bottom: 16px;
}

/* Makes the text appear faded when the checkbox is not checked */
#add-custom-screen-size:not(:has(input:checked))>#custom-screen-size-inputs {
  color: #AEAEAE;
  pointer-events: none;
}

#add-custom-screen-size:not(:has(input:checked)) input {
  border-bottom: 1px solid #DCDCDC;
  color: #AEAEAE;
}

#custom-screen-size-inputs input {
  height: 2rem;
}

#dimensions-container {
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
}

.multiplier {
  font-size: 1.5rem;
  height: 2rem;
}

#screen-size-units {
  margin-top: 5px;
}

#screen-size-preview {
  height: 240px;
  padding: 0 10px 10px 10px;
}

#screen-size-preview>div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}